
<div class="login-box" >
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="user-box">
      <input type="text" name="" required="" formControlName="username">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="" formControlName="password">
      <label>Password</label>
    </div>
    
    <button (click)="loginUser()">
      <a style="cursor: pointer;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>
    </button>
   

  </form>
  <p>
    <button (click)="goToRegister()" style="text-align: center; ">
      <a class="register" style="cursor: pointer; font-family: 'Poppins', sans-serif; font-size: 18px;">
        
        Register Now
      </a>
    </button>
  </p>

  
</div>
